/* Google FontsのリンクをHTMLに追加する必要があります */
body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem; /* :rootのフォントサイズの2倍 */
    letter-spacing: 1.2em; /* 文字間隔 */
    text-shadow: 2px 2px 4px #aaa; /* 影の設定 */
    border-bottom: 3px solid rgb(115, 115, 114); /* 下線 */
}



:root {
    font-size: 20px;
}

.pink {
    color: rgb(255, 192, 203);
}

.sky-blue {
    color: skyblue;
}

#basic p{
    font-weight: bold; /* 太字 */
}

p {
    font-weight: normal; /* その他のp要素は太字にしない */
}